<div class="center">
  <h1><%= @post.title %></h1>
  <div class="post-div"><%= @post.body %></div>
  <% if @post.author == current_user %>
    <%= link_to "Edit", edit_post_path %>
    <%= button_to "Delete", @post, method: :delete %>
  <% end %>
</div>

<%- @post.comments.each do |comment|%>
  <div class="comment-div">
    <span class="comment-name"><%= comment.author.name %>:</span>
    <%= comment.body %>
    <% if comment.author == current_user %>
      <%= button_to "Delete", comment, method: :delete, :class => "delete-comment" %>
    <% end %>
    </div>
    <br>
<% end %>
<%= render "comments/form", post: @post %>